*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body
{
    background: white;
    background-image: url(images/Perro2.jpg);
    /*background-position: center;*/
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center; 
    align-items: center;    
    height: 100vh;          
    margin: 0;  
}

.contenedor
{
    width: 330px;
    padding: 2rem 1rem;
    margin: 50px auto;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #000;
}

h1
{
    font-size: 2rem;
    color: rgb(3, 47, 64);
    margin-bottom: 1.2rem;
}

form input
{
    width: 92%;
    outline: none;
    border: 1px solid #fff;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: #e4e4e4;
}

button
{
    font-size: 1rem;
    margin-top: 2.8rem;
    margin-bottom: 1.2rem;
    padding: 10px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 90%;
    cursor: pointer;
    color: #fff;
    background: rgb(3, 47, 64);
}

button:hover
{
    background: rgba(17, 107, 143, 0.877);
}

input:focus
{
    border: 1px solid rbg(192, 192, 192);
}
.miembro
{
    font-size: 0.8rem;
    color: #636363;
}

.miembro a
{
    color: rgb(3, 47, 64);
    text-decoration: none;
}

.miembro a:hover
{
    color: #009c8c;
}

.textoBienvenida
{
    text-align: center;
    font-size: 0.8rem;
    margin-top: 0.2rem;
}

.textoBienvenida a
{
    text-decoration: none;
    color: #000;
}

