*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body
{
    background: white;
    background-image: url(images/Perro3.jpg);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center; 
    align-items: center;    
    height: 100vh;          
    margin: 0; 
}

.contenedor
{
    width: 330px;
    padding: 2rem 1rem;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    border: 1px solid black;
}

h1
{
    font-size: 2rem;
    color: rgb(3, 47, 64);
    margin-bottom: 1.2rem;
}

form input
{
    width: 92%;
    outline: none;
    border: 1px solid #fff;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: #e4e4e4;
}

button
{
    font-size: 1rem;
    margin-top: 2.8rem;
    margin-bottom: 1.2rem;
    padding: 10px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 90%;
    cursor: pointer;
    color: #fff;
    background: rgb(3, 47, 64);
}

button:hover
{
    background: rgba(17, 107, 143, 0.877);
}

input:focus
{
    border: 1px solid rbg(192, 192, 192);
}

.terminos
{
    margin-top: 0.2rem;
}

.terminos input
{
    height: 1em;
    width: 1em;
    vertical-align: middle;
    cursor: pointer;
}

.terminos label
{
    font-size: 0.8rem;
    color: #636363;
}

.terminos a
{
    color: rgb(3, 47, 64);
    text-decoration: none;
}

.miembro
{
    font-size: 0.8rem;
    color: #636363;
}

.miembro a
{
    color: rgb(3, 47, 64);
    text-decoration: none;
}

.miembro a:hover
{
    color: rgb(17, 107, 143);
}

